*
{
    margin: 0%;
    padding: 0%;
}

html,body
{
    height: 100%;
    width: 100%;
}

#body
{
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
}


#box1
{
    height: 50%;
    width: 50%;
    margin: 0%;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: lightblue;
}



